@using MovieSolution.Models

<div class="col col-md-4 d-flex align-items-stretch">
    <div class="card flex-grow-1">

        <img src="@Product.ImageURL" class="img-fluid" alt="@Product.Title">

        <div class="card-body">
            <h5 class="card-title">@Product.Title</h5>
            <p class="card-text">@Product.Description</p>
            <a href="@($"products/{Product.Id}")" class="btn btn-primary">View&nbsp;details</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ProductModel Product { get; set; }
}
