@page "/products/{ProductId:int}"

<PageTitle>Product Details</PageTitle>

@if(Product != null)
{
    <div class="container">
        <h1 class="mt-2 mb-5">Product details</h1>
        <div class="row">
            <div class="col-12">
                <div class="card flex-grow-1">
                    <img src="@Product.ImageURL" class="img-fluid" alt="@Product.Title">
                    <div class="card-body">
                        <h2 class="card-title">@Product.Title</h2>
                        <h3>@Product.Director (@Product.ReleaseYear)</h3>
                        <small>@Product.CategoryName</small>
                        <p class="card-text">@Product.Description</p>
                        <p>@Product.Price.ToString("C")</p>
                        <button @onclick="@(() => AddToCart(new CartItemModel {
                                OrderId = 1,
                                ProductId = Product.Id,
                                ProductName = Product.Title,
                                ImageURL = Product.ImageURL,
                                Price = Product.Price,
                                Quantity = 1
                            }))" class="btn btn-primary">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>   
}
else
{
    <div class="container">
        <Spinner />
    </div>
}
<style>
    .card {
        flex-direction: row;
    }

    .card img {
        max-width: 20%;
        margin: auto;
        padding: 0.5em;
        border-radius: 0.7em;
    }
</style>
